# Workshop config file
# $ string
# @ array

# sprite

$sprite_factory = room_sprite

$sprite_texture = Entities/Rooms/Sprites/EmptyRoom.png
s32_sprite_frame_width = 24
s32_sprite_frame_height = 24
$sprite_sound_death_hit =
$sprite_sound_flesh_hit = 
$sprite_sound_die = 
$sprite_sound_spawn = 
$sprite_sound_gib = 
$sprite_sound_emit = 

$sprite_gibs_start = *start*

$gib_type = static_particle
$gib_file = Entities/Rooms/Sprites/RoomGibs.png
u8_gib_count = 9					#number of gibs
u8_gib_style = 0					#column
u8_frame_width = 8;
u8_frame_height = 8;
@u8_gib_frame = 1; 2; 3; 4; 5; 6; 7;	#row
$gib_collide_sound = Sounds/rock_hit?.ogg
f32_gib_mass = 2.5
u8_gib_emit = 255					#nothing
f32_velocity = 12.0
f32_offset_x = 0.0
f32_offset_y = 0.0

$sprite_gibs_end = *end*

f32_blood_multiplier = 8.0
clr_blood_color = 255; 50; 40; 30

$sprite_animation_start = *start*

# default
$sprite_animation_default_name = default
u16_sprite_animation_default_time = 1
u8_sprite_animation_default_loop = 0
@u16_sprite_animation_default_frames = 0;

$sprite_animation_end = *end*

# light 
f32_light_radius = 50.0
clr_light_color = 255; 255; 240; 171
1_light_default_on = 1
# room
$sprite_sound_build = 

# ball

$ball_factory = room_ball

f32_ball_width = 24.0
f32_ball_height = 24.0
f32_ball_radius = 12.0
f32_ball_max_upspeed = 0.0
f32_ball_max_fallspeed = 0.0
f32_ball_max_airspeed = 0.0
f32_ball_max_groundspeed = 0.0
f32_ball_max_actionspeed = 0.0
f32_ball_gravity = 0.0
f32_ball_ground_slide = 0.0
f32_ball_wall_slide = 0.0
f32_ball_ladder_slide = 0.0
f32_ball_ground_bounce = 0.0
f32_ball_wall_bounce = 0.0
1_ball_opens_doors = 0
1_ball_opens_bridges = 0
f32_ball_hit_momentum = 0.0

# unused

$movement_factory = 
$weapon_factory = 
$brain_factory = 
$attachment_factory =

# general

$name = 
f32_health = 999999.9
f32 gib_health = -2.5
$help_text = Hold $KEY7$ and\nselect workshop\nto build

u8_default_room = 1

# room syntax - room name; room level (0 menu - 1... upgrade); room sprite; room help text; room items/functions, item2, item3 ...; costs , , , (g gold, s stone, w wood, c coins, l level, u upgrades_from, r requires_roomname- none) ...
@$rooms =
	QUARTERS; Entities/Rooms/Sprites/Quarters.png; Bedroom; heal, set_spawn; -;
;

# room_function syntax - function name; function actor name; function config file; function icon; function make sound; function icon frame; function icon frame size; function help text; costs , , , (g gold, s stone, w wood, c coins - none) ...
@$room_functions =
	heal; -; -; Sprites/heart.png; -; 1; 12; Heal (free); -;
	set_spawn; -; -; GUI/server_icons.png; -; 14; 16; Set spawn point; -;
;